<% tasks.each do |task| %>
  <% if task.status == true %>
    <% if task.priority == 3 %>
      <div class="task3 mt-3">
        <i class="fa-solid fa-face-tired"></i>
        <%= link_to task.title, user_task_path(task.user_id, task.id) %>
        <p class="text-right">
          <%= task.scheduled_date %>
          〜
          <%= task.limit_date %>
        </p>
      </div>
    <% elsif task.priority == 2 %>
      <div class="task2 mt-3">
        <i class="fa-solid fa-face-frown"></i>
        <%= link_to task.title, user_task_path(task.user_id, task.id) %>
        <p class="text-right">
          <%= task.scheduled_date %>
          〜
          <%= task.limit_date %>
        </p>
      </div>
    <% elsif task.priority == 1 %>
      <div class="task1 mt-3">
        <i class="fa-solid fa-face-grin"></i>
        <%= link_to task.title, user_task_path(task.user_id, task.id) %>
        <p class="text-right">
          <%= task.scheduled_date %>
          〜
          <%= task.limit_date %>
        </p>
      </div>
    <% else %>
      <div class="task0 mt-3">
        <i class="fa-solid fa-face-smile-beam"></i>
        <%= link_to task.title, user_task_path(task.user_id, task.id) %>
        <p class="text-right">
          <%= task.scheduled_date %>
          〜
          <%= task.limit_date %>
        </p>
      </div>
    <% end %>
  <% end %>
<% end %>
