<div class="container">
  <div class="row justify-content-center">
    <div class="col-10">
      <%= form_with model: @task, url: (user_tasks_path), local:true do |f| %>
        <div class="form-group my-3">
          <%= f.text_field :title, placeholder: "タスクタイトル", class: "form-control" %>
        </div>

        <div class="form-group my-3">
          <%= f.text_area :detail, placeholder: "タスク内容", class: "form-control" %>
        </div>

        <div class="d-flex flex-row mb-2">
          <div class="form-group">
            <%= f.datetime_field :scheduled_date %>
          </div>
          <p class="mt-1 mx-3">〜</p>
          <div class="form-group">
            <%= f.datetime_field :limit_date %>
          </div>
        </div>

        <div class="priority-slider">
          <p>優先度</p>
          <input type="range" min="0" max="3" step="1" value="0" class="slider" id="priority-slider">
          <div id="priority-labels">
            <label class="label"><i class="fa-solid fa-face-smile-beam"></i></label>
            <label class="label"><i class="fa-solid fa-face-grin"></i></label>
            <label class="label"><i class="fa-solid fa-face-frown"></i></label>
            <label class="label"><i class="fa-solid fa-face-tired"></i></label>
          </div>
        </div>

        <div class="form-group my-3">
          <%= f.submit "登録" %>
        </div>

      <% end %>
    </div>
  </div>
</div>