<div class="container">
  <div class="row justify-content-center">
    <div class="col-10 justify-content-center my-5">
      <%= image_tag @user.get_profile_image(150,150), class: "rounded-circle d-block mx-auto", size: "150x150" %>
      <p class="text-center mt-3"><%= @user.name %>'s task</p>
      <p class="text-center"><%= @user.introduction %></p>
      <p class="text-center">
        <%= link_to edit_user_path(@user), class: "btn btn-outline-secondary btn-sm px-5 edit_user_#{@user.id}" do %>
          <i class="fas fa-user-cog"></i>
        <% end %>
      </p>
    </div>
    <%= link_to "タスクを追加する", new_user_task_path(@user) %>
    <%= link_to "カレンダー", user_calendars_path(@user) %>
    
    <div class="col-10 justify-content-center mb-5">
      <table>
        <thead>
          <tr>
            <% @task.each do |task| %>
            <th>予定日</th>
            <th>リミット</th>
            <th>優先順位</th>
            <th>タスク</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th><%= task.task_at %></th>
            <th></th>
            <th></th>
            <th><%= task.task_title %></th>
            <% end %>
          </tr>
        </tbody>
      </table>
    </div>
    
  </div>
</div>